# Set the default behavior to CRLF line endings
* text eol=crlf

# Detect text files
*.css         text
*.git*        text
*.json        text
*.lock        text
*.php         text
.editorconfig text

# Define Binary files
*jpg          binary
