<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f

  # Permanent redirects for version 1

  # Permanent redirects for version 2

  # Permanent redirects for version 3
    RewriteRule ^about=contact$ /contact [R=301]
    RewriteRule ^about=impressum$ /imprint [R=301]
    RewriteRule ^information=introduction$ /activities [R=301]

  # Explicit rewrite rules for root positioned pages
    RewriteRule ^contact$ /proof.php?file=contact [QSA,L]
    RewriteRule ^error-([a-zA-Z0-9\-]+)$ /error.php?file=$1 [QSA,L]
    RewriteRule ^imprint$ /proof.php?file=imprint [QSA,L]
    RewriteRule ^activities$ /stall.php?file=activities [QSA,L]
    RewriteRule ^principles$ /stall.php?file=principles [QSA,L]
</IfModule>

ErrorDocument 302 /error-302
ErrorDocument 404 /error-404
