/* ==========================================================================
   Custom properties
   ========================================================================== */
  :root {
  /* Define font stack */
  --sans: 'Inter var', sans-serif;
  }

/* ==========================================================================
   Sectionning elements
   ========================================================================== */

/* Body
   ========================================================================== */
  body {
    font-family: var(--sans);
    font-style: normal;
    font-weight: 400;
  }
  body .flex-container {
    z-index: 0;
    min-height: 100vh;
  }
